{% extends 'base.html' %}
{% block title %} home{% endblock title %}
{% block content %}
<div class="container my-3">
    <div class="row">
    <table class="table text-center" id= 'myTable'>
  <thead>
    <tr>
    <th scope="col">image</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">open day</th>
      <th scope="col">high day</th>
       <th scope="col">low day</th>
       <th scope="col">mktcap</th>
       {% comment %} <th scope="col">image</th> {% endcomment %}
    </tr>
  </thead>
  <tbody>
  {% for p,v in price.DISPLAY.items %}
  <tr class= 'text-center'>
<td scope="row"> <img src="https://cryptocompare.com/{{v.USD.IMAGEURL}}" alt="" align= 'left' class= 'img-fulid' height= '50px' width= '50px'> </td>
<td> {{p}}</td>
<td>{{v.USD.PRICE}}</td>
<td>{{v.USD.OPENDAY}}</td>
<td>{{v.USD.HIGHDAY}}</td>
<td>{{v.USD.LOWDAY}}</td>
<td>{{v.USD.MKTCAP}}</td>
</tr>
{% endfor %}
  </tbody>
</table>
    </div>
</div>


<div class="container my-3">
    <div class="row">
        {% for a in api.Data  %}
        <div class="col-md-3 my-2">
            <div class="card">
                <img src="{{a.imageurl}}" class="card-img-top" alt="{{a.title}}">
                <div class="card-body">
                  <a href="{{a.url}}"><h5 class="card-title h5">{{a.title|truncatewords:5}}</h5></a>
                  <p class="card-text">{{a.body|truncatewords:10}}</p>
                  <a href="{{a.url}}" class="btn btn-primary">{{a.source}}</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

